# Nuxt dev/build outputs
// eslint-disable-next-line unused-imports/no-unused-vars
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
lib/env.ts
!.env.example
local.db*

yarn.lock
pnpm-lock.yaml*
package-lock.json
pnpm-lock.yaml

.vscode


